[Unit]
Description = Example receiver
Wants = network-online.target
After = local-fs.target network-online.target

[Service]
User = alikhan
WorkingDirectory = /home/alikhan/mpc-rbt-workspace/mpc-rbt-student
ExecStart = /home/alikhan/mpc-rbt-workspace/mpc-rbt-student/run_reciever.sh
Restart = on-failure
RestartSec = 5
TimeoutStopSec = 5

[Install]
WantedBy = multi-user.target
